@import "./var.scss";

* {
    margin: 0;
    width: 100%;
}

header {
    font-family: 'Glamic';
    position: fixed;
    background-color: $header_clr;
    height: 50px;
    width: 100vw;

    font-size: 50px;
    color: white;

    @include container();
}

.app {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content{
        @include container();
        margin-top: 100px;
        width: 300px;
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;

        .counter {
            text-align: center;
        }
    }

    table, td {
        border: 1px solid #333;
    }
    td, thead, tfoot {
        padding: 10px;
    }

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
}

button {
    background-color: transparent;
    border-radius: 30% 0;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    
    transition: box-shadow 0.5s ease-in, background-color 0.2s ease-in;

    &:hover {
        box-shadow: 0 0 20px black;
    }

    &:active {
        background-color: red;
    }
}

.img {
    display: flex;
    justify-content: center;
}
#aster__img {
    @media only screen and (min-width: 500px) {
        @include image(300px, 300px, 50px);
    }
    @media only screen and (max-width: 500px) {
        @include image(175px, 175px, 50px);
    }
    position: absolute;
}

